.header {
  padding-top: 9.6rem;
  max-width: 50rem;
  text-align: center;
}

.header h1 {
  font-family: var(--font-family-heading);
  color: var(--color-secondary);
  font-size: var(--font-size-h1);
  -webkit-text-stroke: 0.1rem var(--color-dark-text);
  text-transform: uppercase;
  font-weight: 400;
}

.header p {
  color: var(--color-light-text);
  font-size: var(--font-size-p);
  line-height: 1.6;
}

.break-line {
  width: 50%;
  height: 0.8rem;
  background-color: red;
  border-radius: 5px;
  margin: 4rem auto;
}
